@model BookingApp.Models.Offer

@{
    ViewData["Title"] = "إنشاء عرض";
    Layout = "~/Views/Shared/_Layout.cshtml"; // تأكد أن التخطيط يدعم RTL إن لزم
}

<div class="card main-card" dir="rtl">
    <div class="card-header">
        <h3>إنشاء عرض</h3>
    </div>

    <div class="card-body">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row form-group">
                <div class="col-md-6">
                    <label asp-for="AccommodationId" class="control-label">السكن</label>
                    <select asp-for="AccommodationId" class="form-select" asp-items="ViewBag.AccommodationId"></select>
                </div>

                <div class="col-md-3">
                    <label asp-for="PricePerNight" class="control-label">السعر لليلة</label>
                    <div class="input-group mb-3">
                        <input asp-for="PricePerNight" class="form-control" placeholder="20"/>
                        <span class="input-group-text">€</span>
                    </div>
                    <span asp-validation-for="PricePerNight" class="text-danger"></span>
                </div>

                <div class="col-md-3">
                    <label asp-for="CleaningFee" class="control-label">رسوم التنظيف</label>
                    <div class="input-group mb-3">
                        <input asp-for="CleaningFee" class="form-control" placeholder="25"/>
                        <span class="input-group-text">€</span>
                    </div>
                    <span asp-validation-for="CleaningFee" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    <label asp-for="StartAvailability" class="control-label">تاريخ البدء</label>
                    <input asp-for="StartAvailability" class="form-control" />
                    <span asp-validation-for="StartAvailability" class="text-danger"></span>
                </div>

                <div class="col">
                    <label asp-for="EndAvailability" class="control-label">تاريخ الانتهاء</label>
                    <input asp-for="EndAvailability" class="form-control" />
                    <span asp-validation-for="EndAvailability" class="text-danger"></span>
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="إنشاء" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-outline-secondary">العودة إلى لوحة التحكم</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
